<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новая статья!</title>
</head>
<body>
    <h3>Здравствуй, {{ username }}. Новые статьи за неделю!</h3>

    {% for post in subscriber_posts %}
        <h4>{{ post.title }}</h4>
        <h5>{{ post.text }}</h5>
        <a href="http://{{ domain_url }}{% url 'news-detail' post.pk %}">Перейти к статье</a>
    {% endfor %}
</body>
</html>